---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'a'> {
  secondary?: boolean
  label?: string
}

const props = Astro.props
const { secondary, label, class: classes, href } = props
---

<a
  href={href || 'javascript: void(0)'}
  class:list={[secondary ? 'link-secondary' : 'link-primary', classes]}
  {...props}
>
  {label || <slot />}
</a>

<style>
  a {
    padding: 1rem 1.75rem;
    text-decoration: none;
    border-radius: 0.25rem;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  a:hover {
    text-decoration: underline;
  }
  .link-primary {
    padding: 1rem 0.75rem;
    color: #6c6c6c;
  }
  .link-primary:hover {
    background-color: #13341610;
  }
  .link-secondary {
    color: #fefefe;
    background-color: #133416;
  }
  .link-secondary:hover {
    background-color: #255728;
  }
</style>
